src/main/app/maven-project-venkat-jms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="9090" basePath="/testApp" doc:name="HTTP Listener Configuration" />
	<db:derby-config name="Derby_Configuration"
		url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration" />
	<jms:activemq-connector name="Active_MQ"
		brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ" />
	<spring:beans>
		<spring:bean id="Bean" name="Bean"
			class="com.mulesoft.training.Database" />
	</spring:beans>
	<flow name="retrieveFlights">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/getDetails" allowedMethods="GET" doc:name="HTTP" />
		<db:select config-ref="Derby_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT * FROM FLIGHTS]]></db:parameterized-query>
		</db:select>
		<object-to-string-transformer doc:name="Object to String" />
		<logger message="Logger Values : #[message.payload]" level="INFO"
			doc:name="Logger" />
		<set-property propertyName="#['Content-Type']" value="#['application/json']"
			doc:name="Property" />
		<jms:outbound-endpoint queue="flights"
			connector-ref="Active_MQ" doc:name="JMS">
			<jms:transaction action="NONE" />
		</jms:outbound-endpoint>
	</flow>
	<flow name="logFlights">
		<jms:inbound-endpoint queue="flights"
			connector-ref="Active_MQ" doc:name="JMS">
			<jms:transaction action="NONE" />
		</jms:inbound-endpoint>
		<logger level="INFO" doc:name="Logger"
			message="Logger 2 Values : #[message.payload]" />
	</flow>
	<flow name="mavenFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/getData" allowedMethods="GET" doc:name="HTTP" />
		<set-payload value="#[&quot;Hello Maven&quot;]" doc:name="Set Payload" />
	</flow>
</mule>
